.main-block__button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    border-radius: 37px;
    padding: 5px 36px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: .2px;
    text-align: center;
    margin: 10px 0;
}


@media screen and (min-width: 479px) {
    .main-block__button:not(:last-child){
        margin-right: 10px;
    }
}

@media screen and (max-width: 479px) {
    .main-block__button{
        flex: 1 1 100%;
    }
}